#container
{
    padding-bottom:68px;
}

header #back-btn
{
    width:50px;
    height:26px;
    position:relative;
    top:7px;
    left:15px;
}

header #title
{
    width:81px;
    height:19px;
    position:relative;
    top:-2px;
    left:62px;
}


#textarea
{
    margin:2px 10px 0;
    width:296px;
    height:133px;
}

textarea
{
    width:296px;
    height:133px;
    background-image:url("../images/create/create_qbox.png");
    background-size:100% 100%;
    border:none;
    font-size:18px;
}

#selects
{
    margin:12px auto 0;
    width:238px;
}

/* controll selects */
#selects input
{
    height:24px;
    width:216px;
    margin:4px;
    font-size:16px;
    border-radius:5px;
}
#comment
{
    width:238px;
    margin:8px auto 0;
}

#comment-image
{
    width:160px;
    height:23px;
    z-index:1;
}

#check
{
    width:34px;
    height:33px;
    z-index:2;
    position:relative;
    left:-170px;
}

#category-image
{
    margin:18px 0 0 40px;
    width:142px;
    height:18px;
    background-image:url("../images/create/create_categorytitle.png");
    background-size:100% 100%;
}
#category
{
    margin:14px auto 0;
    width:238px;
}
#category select
{
    width:120px;
    height:30px;
    font-size:18px;
}

#submit
{
    width:105px;
    height:36px;
    background-image:url("../images/create/create_button.png");
    background-size:100% 100%;
    position:center;
    margin:36px auto 0;
}
#submit-active
{
    width:105px;
    height:36px;
    background-image:url("../images/create/create_button_actv.png");
    background-size:100% 100%;
    position:center;
    margin:36px auto 0;
    display:none;
}
