header #back-btn
{
    width:50px;
    height:26px;
    position:relative;
    top:7px;
    left:15px;
}

header #title
{
    width:103px;
    height:19px;
    position:relative;
    top:3px;
    left:105px;
}

#profile
{
    width:280px;
    margin:0 auto;
}
#user
{
    width:200px;
}
#user img
{
    width:25px;
    height:25px;
}
#user span
{
    margin-left:20px;
    font-size:16px;
    position:relative;
    top:-5px;
    color:white;
}
#set1
{
    width:60px;
    height:30px;
}
#set1-active
{
    width:60px;
    height:30px;
    display:none;
}

#new-q
{
    width:296px;
    height:116px;
    background-image:url("../images/mypage/mypage_newq.png");
    background-size:100% 100%;
    margin:10px auto;
}
#newq-img1
{
    width:45px;
    margin:25px 0 0 15px;
}
#newq-img1 img
{
    width:45px;
    height:45px;
}
#new-q-content
{
    width:170px;
    margin:30px 0 0 15px;
    color:white;
    font-size:13px;
}
#newq-img2
{
    width:29px;
    height:41px;
    margin:25px 0 0 5px;
}
#newq-img2 img
{
    width:29px;
    height:41px;
}

#create
{
    width:139px;
    height:80px;
    margin-left:20px;
    background-image:url("../images/mypage/mypage_qbutton.png");
    background-size:100% 100%;
}
#create-active
{
    width:139px;
    height:80px;
    margin-left:20px;
    background-image:url("../images/mypage/mypage_qbutton_active.png");
    background-size:100% 100%;
    display:none;
}
#my-q-list
{
    width:136px;
    height:81px;
    margin:15px 0 0 20px;
    background-image:url("../images/mypage/mypage_imamadeno.png");
    background-size:100% 100%;
}
#my-q-list-active
{
    width:136px;
    height:81px;
    margin:15px 0 0 20px;
    background-image:url("../images/mypage/mypage_imamadeno_active.png");
    background-size:100% 100%;
    display:none;
}
#kokuban
{
    width:82px;
    height:46px;
    position:relative;
    top:17px;
    left:35px;
}
#kokuban img
{
    width:100%;
    height:100%;
}

#content-right
{
    width:129px;
    height:261px;
    background-image:url("../images/mypage/mypage_girl.png");
    background-size:100% 100%;
    margin:-22px 0 0 10px;
}
#status
{
    width:114px;
    height:89px;
    position:relative;
    top:67px;
    left:13px;
}
#status-active
{
    width:114px;
    height:89px;
    position:relative;
    top:67px;
    left:13px;
    display:none;
}

/********* status page ************/
#status-page
{
    display:none;
    width:320px;
    height:500px;
    background-color:black;
    /* opacity:0.9; */
    position:absolute;
    top:0;
    left:0;
}

#status-background
{
    width:250px;
    height:249px;
    background-image:url("../images/statuspage/status_bigheart.png");
    background-size:100% 100%;
    position:relative;
    top:50px;
    left:15px;
}

#parameter
{
    width:150px;
    height:120px;
    position:relative;
    top:65px;
    left:57px;
    font-size:18px;
    color:block;
}
#parameter p
{
    height:30px;
    margin:0;
    /* padding:0 5px; */
    padding:0;
}
#parameter span
{
    font-size:26px;
}
#status-girl
{
    width:115px;
    height:249px;
    background-image:url("../images/statuspage/status_girl.png");
    background-size:100% 100%;
    position:relative;
    top:25px;
    left:160px;
}
#status-comment
{
    width:144px;
    height:77px;
    background-image:url("../images/statuspage/status_hukidashi.png");
    background-size:100% 100%;
    position:relative;
    top:-120px;
    left:45px;
}
#status-comment div
{
    width:110px;
    height:42px;
    font-size:12px;
    position:relative;
    top:25px;
    left:10px;
}
#heartmove{
    left:15%;
    position: relative;
    width: 130px;
    top:-243px;
}
#status-heart{
  left: 0px;
    width:21px;
    height:20px;
    background-image:url("../images/statuspage/status_small_heart.png");
    background-size:100% 100%;
    position:absolute;
/*    top:-243px;*/
  top: 0px;
  position: relative;
/*  transition:all,5s,ease-in-out,1s;*/
  -webkit-transition-property:left;
  -moz-transition-property:left;
  -o-transition-property:left;
  transition-property:left;
  -webkit-transition-duration:2s;
  -moz-transition-duration:2s;
  -o-transition-duration:2s;
  transition-duration:2s;

  -webkit-transition-timing-function:ease;
  -moz-transition-timing-function:ease;
  -o-transition-timing-function:ease;
  transition-timing-function:ease;
}#status-heart.motion{
  left: 72%;
/*  transform:translateX(200px);*/
}
