#backimg{
	background-image: url("../images/login/login_page.png");
	position: absolute;
	background-size: 100% 100%;
	top: 48px;
	height: 350px;
	width: 307px;
}
#username{
	font-size:150%;
	background-color:transparent;
	border-style:none;
	color:white;
	position:absolute;
	margin: 10px;
	padding: 10px;
	top:5%;
	left:11%;
}
.box{
	position: absolute;
	top:40%;
}
.fmbox{
	position:absolute;
	top: 39%;
}
.fmbox .male #male{
	position:absolute;
	left: 80px;
}
.fmbox .female #female{
	position:absolute;
	left: 350%;
}
#maru{
	position: relative;
	height: 80px;
	width: 62px;
	visibility: hidden;
}
.select{
/*	background-image: url("../images/login/login_girlillust.png"),
	url("../images/login/login_boyillust.png");
*/	position:absolute;
	top:300px;
	left: 15%;
}
.select #relationid{
	height: 46px;
	width: 158px;
}
#button{
	position:absolute;
	height: 53px;
	width: 127px;
/*	visibility: hidden;*/
}#button2{
	position:absolute;
	height: 53px;
	width: 127px;
	visibility: hidden;
}
#decide{
	position: absolute;
	top:85%;
}
.gm{
	position: relative;
	left:100%;
}
.dpbox{
	position: relative;
}
#chara_female{
	position: absolute;
	visibility: hidden;
}
#chara_male{
	position: absolute;
	visibility: hidden;
}