#initial-image
{
    width:320px;
    height:503px;
    background-image:url("../images/login/title.png");
    background-size:100% 100%;
    position:absolute;
    left:0;
    top:0;
    z-index:5;
}


#container
{
    padding-bottom:70px;
}

header #title
{
    width:74px;
    height:19px;
    position:relative;
    top:5px;
    left:124px;
}
footer
{
    background-image:url("../images/footer/footer_nashi.png");
    background-size:100% 100%;
}

#backimg{
    background-image: url("../images/login/login_page.png");
    position: absolute;
    background-size: 100% 100%;
    top: 48px;
    height: 350px;
    width: 307px;
}
#username{
    font-size:150%;
    background-color:transparent;
    border-style:none;
    color:white;
    position:absolute;
    margin: 10px;
    padding: 10px;
    top:4%;
    left:11%;
}
.box{
    position: absolute;
    top:40%;
}
.fmbox{
    position:absolute;
    top: 39%;
}
.fmbox .male #male{
    position:absolute;
    left: 80px;
}
.fmbox .female #female{
    position:absolute;
    left: 350%;
}
#maru{
    position: relative;
    height: 80px;
    width: 62px;
    visibility: hidden;
}
.select{
    position:relative;
    display: box;
    display: -webkit-box;  /* Safari,Google Chrome */
    display: -moz-box;  /* Firefox */
    top:86%;
}
.select #relationid{
    position: relative;
    left: 33%;
    height: 46px;
    width: 158px;
}
select
{
    background-color:transparent;
    border:none;
    font-size:20px;
    color:white;
    width:100px;
    z-index:2;
}
#button{
    height: 53px;
    width: 127px;
    position:relative;
    left:55%;
    top:20px;
}
#button-active{
    height: 53px;
    width: 127px;
    position:relative;
    left:55%;
    top:20px;
    display:none;
}
#decide{
    position: relative;
    top:36%;
}
.gm{
    position: relative;
    width:100px;
    top:70%;
}
.dpbox{
    position: relative;
    width: 158px
    left:10%;
}
#chara_female{
    position: relative;
    height:92px;
    width: 75px;
    left: 62%;
    top:-40px;
    visibility: hidden;
}
#chara_male{
    position: relative;
    height:92px;
    width: 80px;
    left: 60%;
    top:-137px;
    visibility: hidden;
}
