/******  共通のcssを設定　**********/
.box
{
    display: box;
    display: -webkit-box;  /* Safari,Google Chrome */
    display: -moz-box;  /* Firefox */
}

#container
{
    width:100%;
}

.content
{
    width:90%;
    margin:auto;
    height:500px;
    border:2px solid gray;
}

/***  フッター　****/
footer
{
    width:100%;
    text-align:center;
    position:fixed;
    position:absolute;
    bottom:0;
}
.footer-menu
{
    display:box; /*追記*/
    display:-moz-box;
    display:-webkit-box;
    width:30%;
    height:60px;
    background-color:#8b4513;
}

/*追記部分*/
#create{
    margin-left: 20px;
}
.columnline{

}