/******  共通のcssを設定　**********/
.box
{
    display: -webkit-box; /* Safari,Google Chrome */
    display: -moz-box; /* Firefox */
}

#container
{
    width:100%;
}

.content
{
    width:90%;
    margin:auto;
    height:500px;
    border:2px solid gray;
}

/***  フッター　****/
footer
{
    text-align:center;
    position:fixed;
    position:absolute;
    bottom:0;
}
.footer-menu
{
    width:33%;
    height:100px;
    background-color:gray;
}
