/******  共通のcssを設定　**********/
.body
{
    margin:0;
    padding:0;
}
.box
{
    display: box;
    display: -webkit-box;  /* Safari,Google Chrome */
    display: -moz-box;  /* Firefox */
}

#container
{
    width:320px;
}

.content
{
    width:90%;
    margin:auto;
}

/***  フッター　****/
footer
{
    width:320px;
    margin:0;
    padding:0;
    height:30px;
    text-align:center;
    line-height:30px;
    vertical-align:middle;
}
.footer-menu
{
    margin:0;
    padding:0;
    width:106px;
    background-color:#8b4513;
}
