header #back-btn
{
    width:50px;
    height:26px;
    position:relative;
    top:7px;
    left:15px;
}

header #title
{
    width:137px;
    height:19px;
    position:relative;
    top:0px;
    left:40px;
}

#Qcontent
{
    width:294px;
    height:208px;
    background-image:url("../images/result/result_qbox.png");
    background-size:100% 100%;
    margin:auto;
    color:white;
}
#q-username
{
    margin-left:15px;
    padding-top:35px;
    font-size:12px;

}
#q-content
{
    margin-left:15px;
    padding-top:15px;
    font-size:16px;
}
#answer-mark img
{
    width:39px;
    height:41px;
    position:relative;
    top:20px;
    left:30px;
}
#canvas
{
    width:199px;
    height:199px;
    background-image:url("../images/result/result_circle.png");
    background-size:100% 100%;
    position:relative;
    left:60px;
    top:0px;
}
#pie
{
    position:relative;
    top:-1px;
}

#total
{
    font-size:16px;
    color:white;
    text-align:center;
}

#result
{
    width:280px;
    margin:10px 0 0 10px;
}
#selects
{
    width:180px;
    color:white;
}
.line
{
    height:4px;
}
#crown img
{
    width:49px;
    height:58px;
    position:relative;
    top:10px;
    left:50px;
}
#niceQ
{
    width:109px;
    height:59px;
    background-image:url("../images/result/result_nq.png");
    background-size:100% 100%;
    position:relative;
    top:20px;
    left:50px;
}
#niceQ-active
{
    width:109px;
    height:59px;
    background-image:url("../images/result/result_nq_active.png");
    background-size:100% 100%;
    position:relative;
    top:20px;
    left:50px;
    display:none;
}
#share
{
    width:109px;
    height:48px;
    background-image:url("../images/result/result_share.png");
    background-size:100% 100%;
    position:relative;
    top:40px;
    left:45px;
}
#share-active
{
    width:109px;
    height:48px;
    background-image:url("../images/result/result_share_active.png");
    background-size:100% 100%;
    position:relative;
    top:40px;
    left:45px;
    display:none;
}
#human
{
    width:113px;
    height:150px;
    background-image:url("../images/result/result_illustg.png");
    background-size:100% 100%;
    position:relative;
    top:0px;
    left:50px;
}
#human-active
{
    width:113px;
    height:150px;
    background-image:url("../images/result/result_illustg_active.png");
    background-size:100% 100%;
    position:relative;
    top:0px;
    left:50px;
    display:none;
}
/* comment */
.comment
{
    margin:30px 0 0 10px;
}

.comment input
{
    width:200px;
    height:30px;
    font-size:16px;
}
.submit
{
    width:69px;
    height:28px;
    background-image:url("../images/result/result_co_b.png");
    background-size:100% 100%;
    position:relative;
    top:5px;
    left:5px;
}
.submit-active
{
    width:69px;
    height:28px;
    background-image:url("../images/result/result_co_b_active.png");
    background-size:100% 100%;
    position:relative;
    top:5px;
    left:5px;
    display:none;
}

#comment-bar
{
    width:320px;
    height:17px;
    background-image:url("../images/result/result_coverline.png");
    background-size:100% 100%;
    margin-top:10px;
}

.comment-tip
{
    width:320px;
    border-bottom:1px solid white;
    min-height:70px;
}
.comment-icon
{
    width:70px;
}
.comment-icon img
{
    width:50px;
    height:50px;
    position:relative;
    top:10px;
    left:10px;
}
.comment-right
{
    width:180px;
    margin-left:10px;
    color:white;
}
.comment-select{
    font-size:12px;
    color:white;
    font-weight:bold;
    padding-top:5px;
}
.comment-sex-image
{
    width:60px;
}
.comment-sex-image img
{
    width:30px;
    height:40px;
    position:relative;
    top:15px;
    left:20px;
}

#comment-bar-bottom
{
    width:320px;
    height:6px;
    background-image:url("../images/result/result_cundeline.png");
    background-size:100% 100%;
    margin:10px 0px;
}
