header #back-btn
{
    width:50px;
    height:26px;
    position:relative;
    top:7px;
    left:15px;
}

header #title
{
    width:79px;
    height:19px;
    position:relative;
    top:4px;
    left:60px;
}

#question
{
    width:296px;
    height:133px;
    background-image:url("../images/answer/answer_qbox.png");
    background-size:100% 100%;
    margin:0 auto;
}
#q-user
{
    margin:7px 0 0 7px;
    color:white;
}
#q-content
{
    width:275px;
    height:70px;
    margin:0 0 0 10px;
    color:white;
    font-size:18px;
}

#selects
{
    margin:28px auto 0;
    width:230px;
    height:auto;
    padding:4px;
    background-image:url("../images/create_choice.png");
    background-size:100% 100%;
}

/* controll selects */
#selects div
{
    height:20px;
    width:230px;
    border:1px solid gray;
    line-height:20px;
    vertical-align:middle;
    font-size:16px;
    padding-left:3px;
}

#submit
{
    width:102px;
    height:34px;
    background-image:url("../images/answer/answer_button.png");
    background-size:100% 100%;
    position:center;
    position:relative;
    top:0px;
    margin:1px auto 0;
}
#human-image
{
    width:250px;
    height:87px;
    background-image:url("../images/answer/answer_boy.png");
    background-size:100% 100%;
    position:absolute;
    top:374px;
    left:35px;
}
