header #back-btn
{
    width:50px;
    height:26px;
    position:relative;
    top:7px;
    left:15px;
}

header #title
{
    width:79px;
    height:19px;
    position:relative;
    top:0px;
    left:62px;
}

#question
{
    width:296px;
    height:133px;
    background-image:url("../images/answer/answer_qbox2.png");
    background-size:100% 100%;
    margin:0 auto;
}
#q-user
{
    margin:7px 0 0 7px;
    color:white;
}
#q-content
{
    width:275px;
    height:70px;
    margin:0 0 0 10px;
    color:white;
    font-size:18px;
}

#selects
{
    margin:10px auto 0;
    width:230px;
    height:230px;
    padding:4px;
}

/* controll selects */
#selects div a div
{
    height:38px;
    width:230px;
    border-radius:5px;
    background-color:white;
    line-height:38px;
    vertical-align:middle;
    font-size:18px;
    padding-left:3px;
    margin:5px auto;
    color:black;
    text-align:center;
}

#human-image
{
    width:219px;
    height:88px;
    background-image:url("../images/answer/answer_illustgirl.png");
    background-size:100% 100%;
    margin:0 auto;
}
