header #back-btn
{
    width:50px;
    height:26px;
    position:relative;
    top:7px;
    left:15px;
}

header #title
{
    width:36px;
    height:19px;
    position:relative;
    top:0px;
    left:83px;
}

#setting-background
{
    width:260px;
    height:291px;
    margin:auto;
    background-image:url("../images/setting/setting_page.png");
    background-size:100% 100%;
    display:none;
}

#icon
{
    width:74px;
    height:74px;
    position:relative;
    top:28px;
    left:95px;
}
#icon img
{
    width:100%;
    height:100%;
}

#username
{
    width:208px;
    height:33px;
    position:relative;
    top:70px;
    left:31px;
    font-size:18px;
    background-color:transparent;
    border:none;
    color:white;
}

select
{
    width:141px;
    height:41px;
    position:relative;
    top:126px;
    left:32px;
    font-size:20px;
    background-color:transparent;
    border:none;
    color:white;
}

#decide
{
    width:127px;
    height:56px;
    margin:150px 0 0 60px;
}
#decide-active
{
    width:127px;
    height:56px;
    margin:150px 0 0 60px;
    display:none;
}
